* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ccc;
}

.page {
	background: #fff;
	height: auto;
	margin: 0 auto;
	max-width: 960px;
}

.header {
	color: #fff;
	background: #0400f2;
	overflow: hidden;
	padding: 10px 5px;
}

.header div {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	float: left;
	font-size: 30px;
	font-weight: 900;
	margin-left: 30px;
	padding: 7px;
	text-decoration: none;
}

.header div:hover {
	color: #0400f2;
	background: #fff;
}

nav {
	float: right;
	margin-top: 5px;
}

nav ul {
	overflow: hidden;
	padding: 5px 0;
	width: 520px;
}

nav ul li {
	float: left;
	font-size: 25px;
	list-style-type: none;
	text-align: center;
	width: 150px;
}

nav ul li:first-of-type {
	width: 70px;
}

nav a {
	color: #fff;
	text-transform: none;
	text-decoration: none;
}

nav ul a:hover {
	font-weight: 900;
}

.main h1 {
	width: 330px;
	margin: 50px auto 50px auto;
}

.main p {
	padding: 5px 90px;
	text-align: justify;
}

hr {
	margin: 20px 0;
	border: 1px dashed #ccc;
}

.section {
	margin-bottom: 20px;
	overflow: hidden;
}

.section li {
	float: left;
	list-style: none;
	margin: 0 10px 0 10px;
	position: relative;
	width: 300px;
}

.section h3 {
	text-align: center;
}

.section img {
	background: #cec;
	display: block;
	height: 300px;
	width: 100%;
}

.section p {
	display: none;
	position: absolute;
	top: 150px;
	left: 50px;
}

.section img:hover + p {
	display: block;
}

.section a {
	color: #000;
	text-decoration: none;
}

.footer p {
	color: #fff;
	background: #0400f2;
	overflow: hidden;
	text-align: center;
	padding: 10px 5px;
}
