/*
* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

li {
	float: left;
	list-style: none;
}

li a {
	text-decoration: none;
	color: #fff;
	height: 48px;
	line-height: 2.85em;
	font-size: 17px;
}

nav, .top-container, .top-menu, .top-logo, .top-smiley {
	position: absolute;
	top: 0;
}

nav {
	min-width: 320px;
	height: 48px;
	background: #333;
	right: 0;
	left: 0;
}

.top-container {
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.top-menu {
	left: 16px;
}

.top-menu-span-top {
	position: absolute;
	top: 23px;
	display: block;
	width: 17px;
	height: 1px;
	background: #fff;
	z-index: 1;
}

.top-menu-span-bottom {
	position: absolute;
	top: 29px;
	display: block;
	width: 17px;
	height: 1px;
	background: #fff;
	z-index: 1;
}

.top-logo {
	left: 50%;
}

.top-smiley {
	right: 16px;
}